@import "tailwindcss";

@theme {
    --color-redy: #e53935;
    --color-blacky: #111111;
    --color-whitey: #ffffff;
    --color-gray-100: #f3f4f6;
    --color-gray-200: #e5e7eb;
    --color-gray-400: #9ca3af;
    --color-gray-500: #6b7280;
    --color-gray-600: #4b5563;
}
